.container-api-google-e-apple {
        width: 300px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 50px;
    }

@media (min-width:577px){
    .container-api-google-e-apple{
        display: flex;
        justify-content: space-between  ;
        width: 80%;
    }

    .container-api-google-e-apple button{
        background: none;
        padding: 15px;
        width: 5rem;
        border: 1px solid #828282;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .container-api-google-e-apple button:hover{
        background: none;
        border: 1px solid #FECC02;
        box-shadow: 0px 1px 30px 10px #ffd90266;
        transition: all 0.3s ease;
    }

    .container-api-google-e-apple b{
        display: none;
    }
}