
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #000; /* opcional pra preencher espaço vazio */
    color: white;
    font-family: "Montserrat", sans-serif;
}

.container-comeco{
    display: flex;
    justify-content: space-between;
}

.formulario-login-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    padding: 30px;
}

/*CONSTRUÇÃO DO LOGO*/
.logo-spot-livre{
        align-items: center;
        display: flex;
        width: 189px;
        height: 37px;
        gap: 10px;
    }
    .logo-spot-livre .logo-dsin {
        width: 32px;
        height: 32px;
    }
    .spot-livre-spot {
        color: #FECC02;
        font-size: 30px;
    }
    .spot-livre-livre {
        color: white;
    }

    .container-header{
        position: fixed;
        display: flex;
        align-items: center;
        top: 0;
        padding: 10px;
        width: 100%;
        height: 80px;
        backdrop-filter: blur(5px);
        border-bottom: solid 1px #ffcc002c;
    }

    .spot-livre-frase{
        width: 350px;
        font-size: 40px;
    }

    .spot-livre-frase p{
        margin: 0;
    }

    /*Botão principal*/
    .button-garanta-sua-vaga{
        background-color: #FFCB00;
        width: 300px;
        height: 50px;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .icone_seta{
        display: none;
        transition: all 0.3s ease;
    }

    .descricao-botao-hover{
        display: none;
    }


    .button-garanta-sua-vaga:hover{
         box-shadow: 0px 1px 30px 10px #ffd90266;
    }

    .container-login-e-registro{
        display: flex;
        align-items: center;
        margin-top: 10px;
        
    }

    .login-e-registro a {
        text-decoration: none;
        font-weight: 10px;
        color: white;
    }

    .login-e-registro{
        font-size: 15px;  
        font-weight: 100;
    }

@media (min-width:577px){
    .container-api-google-e-apple{
        display: flex;
        justify-content: space-between  ;
        width: 80%;
    }

    .container-api-google-e-apple button{
        background: none;
        padding: 15px;
        width: 5rem;
        border: 1px solid #828282;
        border-radius: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .container-api-google-e-apple button:hover{
        background: none;
        border: 1px solid #FECC02;
        box-shadow: 0px 1px 30px 10px #ffd90266;
        transition: all 0.3s ease;
    }

    .container-api-google-e-apple b{
        display: none;
    }
}

@media (max-width: 576px){
    /* Header */
    .container-header{
        backdrop-filter:none;
        width: 322px;
        height: 235px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 70px;
    }
    .logo-spot-livre{
        width: 189px;
        height: 37px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .logo-spot-livre .logo-dsin {
        width: 32px;
        height: 32px;
    }
    .spot-livre-spot {
        color: #FECC02;
        font-size: 30px;
    }
    .spot-livre-livre {
        color: white;
    }
    .spot-livre-frase{
        width: 322px;
        height: 148px;
        font-size: 30px;
    }

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: #0505056d;
    }
    /* Main */
    /* Botão de garantir vaga com textos em baixo de logar ou registrar */
    .container-login-e-registro{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .login-e-registro{
        width: 326px;
        height: 92px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        font-size: 17px;
    }
    .login-e-registro a{
        text-decoration: none;
        color: white;
    }
    /* Buttons da API do Google e Apple */
    .container-api-google-e-apple {
        width: 300px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: 50px;
    }
    .button-login-google button {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 300px;
        height: 50px;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        border: none;
        border-radius: 25px;
    }
    .button-login-google img {
        width: 30px;
        height: 30px;
    }
    .button-login-apple button {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 15px;
        width: 300px;
        height: 50px;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        border: none;
        border-radius: 25px;
        background-color: #050505;
        color: white;
    }
    .button-login-apple img {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 576.1px) and (max-width: 768px){
    
}